<div>
  <div id="sidebar-wrapper-anonym">
    <div class="profile">
      <div class="inside">
        <div class="info">
          <form name="registerForm">
            <fieldset id="registerFieldset">
              <legend>{{'Me' | translate}}
                <div class="language">
                  <a ng-click="lang('es')" ng-href=""><img src="images/flags/spain.png" alt=""></a>
                  <a ng-click="lang('en')" ng-href=""><img src="images/flags/uk.png" alt=""></a>
                </div>
              </legend>

              <input id="username" type="hidden" value="{{userInformation.username}}">
              <div ng-hide="validations.anonymUser" class="daysleftwrap">
                <div ng-show="newpermit.days" class="daysleft">
                  <label><strong>{{'You have' | translate}} <span class="text-error">{{days}} </span>{{'days left to confirm your account via email.' | translate}} Click <span ng-click="resend()" class="text-error hereclick">{{'here' | translate}}</span> {{'to resend it.' | translate}}</strong></label>
                </div>
              </div>
              <div class="alert alert-success daysleft" ng-show="newpermit.email">
                {{'Email has been sent' | translate}}
              </div>
              <div class="row-fluid profilepic">
                <div class="span12">
                  <img class="{{validations.anonymUser === false ? 'popoverInfoMeClass img-rounded' : 'popoverInfoAnonymClass img-rounded'}}" id="popoverInfoMe" ng-src="{{avatar}}" width="160" height="160" data-toggle="{{validations.anonymUser === true ? 'modal' : ''}}" data-target="{{validations.anonymUser === true ? '#modMain' : ''}}">
                  <video id="webrtc-sourcevid" muted="" autoplay="" style="width: 320px; height: 240px"></video>
                  <ul>
                    <li id="deleteclick" ng-click="deletePhoto()"><i class="glyphicon glyphicon-remove"></i></li>
                    <li id="uploadclick" ng-click="uploadClick()"><i class="glyphicon glyphicon-upload"></i></li>
                  </ul>
                </div>
                <upload></upload>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div ng-init="initchat()"></div>
    </div>
    <div class="user">
      <div class="inside">
        <form>
          <fieldset class="fieldsetProfile">
            <legend class="sidebar-brand">{{'Anonym' | translate}}</legend>
            <input id="confirm" type="button" ng-click="otherUser()" style="display: none">
            <div class="row-fluid profilepic">

              <img class="{{validations.anonymUser === false ? 'anonym-profileClass img-rounded' : 'anonym-profileAnonymClass img-rounded'}}" id="anonym-profile" ng-src="{{otherUserInfo.avatar}}" width="160" height="160" data-toggle="{{validations.anonymUser === true ? 'modal' : ''}}" data-target="{{validations.anonymUser === true ? '#modMain' : ''}}">
              <button ng-show="likes" ng-disabled="readyLiked" ng-click="biped()" type="button" class="btn btn-primary likes-style" style="margin: 0 auto 20px auto;display: block">
                <span class="glyphicon glyphicon-thumbs-up"></span> {{likes}} Bips!
              </button>
              <video id="webrtc-remotevid" controls="" autoplay="" style="width: 320px; height: 240px"></video>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="looking">
    <div class="spinner"></div>
    <p>{{'Looking for Bipers' | translate}}</p>
  </div>
  <div class="otherlooking" style="display: none">
    <p>{{'looks like the other user has left the conversation' | translate}}</p>
    <a ng-href="" class="new-room other" ng-click="newRoom()"><span class="bool-text">{{'New room?' | translate}}</span></a>
  </div>
  <div class="chatwrap">
  <div class="social-ico">
      <button class="btn btn-facebook"><i class="fa fa-facebook"></i></button>
      <button class="btn btn-twitter"><i class="fa fa-twitter"></i></button>
  </div>
    <div id="conversation" class="well well-lg">
      <div class="container">

      </div>
    </div>
    <div class="wraper-chat hide-inputs">
      <form class="form-inline textChat">
        <div id="userTyping">
          <p class="text-info">{{'User Typing...' | translate}}</p>
        </div>
        <div class="row-fluid">
          <div class="chatSendContainer">
            <a ng-href="" class="new-room" ng-click="newRoomValidate()"><span ng-show="userstatusbool" class="glyphicon glyphicon-refresh"><span class="bool-text">{{'Leave?' | translate}}</span></span><span ng-hide="userstatusbool">{{'Sure?' | translate}}</span></a>

            <div class="input">
              <input id="data" placeholder="{{'Press enter to send' | translate}}" type="text" disabled="disabled">
              <input id="dataFalse" type="text" hidden="hidden">
            </div>
              <div id="videoButtons">
                  <button class="video-chat btn btn-default btn-lg" id="newVideoChat" type="button"><span class="glyphicon glyphicon-facetime-video"></span></button>
                  <button class="video-chat btn btn-default btn-lg" id="exitVideoChat" type="button"><span class="glyphicon glyphicon-remove"></span></button>
              </div>
            <span class="glyphicon glyphicon-camera mycam"></span>
            <input type="file" id="imagefile" accept="image/*">
            <div id="btnEmoticon" class="btnEmoticon"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="mypop popoverInfoMeModal me">
  <ul class="sidebar-nav infomodel">
    <li>
      <a ng-href="" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    </li>
  </ul>
  <h3 class="popover-title">{{'My Profile' | translate}}</h3>
  <alert ng-repeat="alert in alerts" close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="popover-content" ng-hide="validations.anonymUser">
    <div ng-hide="validations.anonymUser">
      <label>{{'Name' | translate}}</label>
      <input ng-model="userInformation.name" type="text" placeholder="{{'Name' | translate}}">
    </div>
    <div ng-hide="validations.anonymUser">
      <label for="datepicker-birthday">{{'Birthday' | translate}}</label>
      <p class="input-group birth">
        <input id="datepicker-birthday" name="datepicker" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="userInformation.birth" is-open="opened" close-text="Close" datepicker-append-to-body="true">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      </p>
    </div>
    <div ng-hide="validations.anonymUser">
      <label ng-hide="validations.anonymUser">Email</label>
      <input name="email" id="email" ng-model="userInformation.email" type="text" placeholder="Email">
    </div>
    <div ng-hide="validations.anonymUser">
      <label ng-hide="validations.anonymUser">{{'Location' | translate}}</label>
      <input id="locationgeo" type="text" placeholder="{{'Where are you?' | translate}}" ng-model="userInformation.location">
      <div class="share">
        <label>{{'Would you like to share your location?' | translate}}
          <input id="checklocation" type="checkbox" ng-model="confirmed" ng-change="locationBool();">
        </label>
      </div>
    </div>
    <div ng-hide="validations.anonymUser" class="sex">
      <label>{{'Gender' | translate}}</label>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          {{userInformation.gender}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu gender" role="menu">
          <li id="male"> <a ng-click="userInformation.gender = 'Male';">M</a></li>
          <li id="female"> <a ng-click="userInformation.gender = 'Female';">F</a></li>
          <li id="other"> <a ng-click="userInformation.gender = 'Other';">n/a</a></li>
        </ul>
      </div>
    </div>
    <div ng-hide="validations.anonymUser">
      <label ng-hide="validations.anonymUser">{{'About you' | translate}}</label>
      <textarea name="about" id="about" ng-model="userInformation.description" type="text" placeholder="{{'Description' | translate}}"></textarea>
    </div>
    <div>
      <button ng-click="updateUsers()" class="btn btn-success">{{'Save' | translate}}</button>
    </div>
    <div class="delete-account">
      <p>{{'If you want to delete your account, just click' | translate}} <a href="" ng-click="deleteAccount()">{{'here' | translate}}</a></p>
    </div>
  </div>
</div>
<div class="mypop popoverInfoMeModal other">
  <ul class="sidebar-nav infomodel">
    <li>
      <a ng-href="" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    </li>
  </ul>
  <h3 class="popover-title">{{'Anonym info' | translate}}</h3>
  <div class="popover-content">
    <div ng-hide="validations.anonymOtherUserValidationFields.Name">
      <label>{{'Name' | translate}}</label>
      <label>{{otherUserInfo.name}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Birth">
      <label>{{'Birth' | translate}}</label>
      <label>{{otherUserInfo.birth | date:'MMM - d, yyyy'}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Email">
      <label>Email</label>
      <label>{{otherUserInfo.email}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Location">
      <label>{{'Location' | translate}}</label>
      <label>{{otherUserInfo.location}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Gender">
      <label>{{'Gender' | translate}}</label>
      <label>{{otherUserInfo.gender}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Description">
      <label>{{'About me' | translate}}</label>
      <label>{{otherUserInfo.description}}</label>
    </div>
    <div ng-show="otherUserInfo.username === 'Anonym'" class="divhelp">
      <p class="prehelp">{{'Sorry, this is an Anonym user and does not have info for us.' | translate}}</p>
    </div>
  </div>
</div>
<!-- modal home password -->
<div class="modal fade" id="modMain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style="color: #000;margin: 0;padding: 0">Welcome</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <home></home>
      </div>
    </div>
  </div>
</div>
<!-- modal remember password -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form ng-submit="forgotpass()">
        <div class="modal-header">
          <h3 style="color: #000;margin: 0;padding: 0">{{'Enter email' | translate}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <div ng-show="password.remember" class="alert alert-success"><strong>{{'Success' | translate}} </strong>{{'Email has been sent' | translate}}</div>
          <div ng-show="password.remembererror" class="alert alert-danger"><strong>{{'Oops' | translate}} </strong>{{'This email does not exist' | translate}}</div>
          <div class="input-prepend"><span class="add-on"> <i class="icon-envelope"></i></span>
            <input type="email" placeholder="{{'Email' | translate}}" id="forgotemail" name="forgotemail" ng-model="Remember.forgotemail" required="required">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">{{'Send' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- first modal -->
<div class="modal fade" id="firstlight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style="color: #000;margin: 0;padding: 0">{{'Hi there!' | translate}}</h3>
      </div>
      <div class="modal-body">
        <p>{{'Welcome to mitbip! click' | translate}} <a ng-click="getLog()">{{'here' | translate}}</a> {{'to sign up or login, or just click' | translate}} <a ng-click="chatNow()">{{'here' | translate}}</a> {{'if you wanna chat NOW!' | translate}}</p>
        <div class="terms">
          <p>{{'When you click in "chat" or "Join us" you are accepting' | translate}} <a ng-click="openTerms()">{{'this' | translate}}</a> {{'terms' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal terms -->
<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style="color: #000;margin: 0;padding: 0">{{'Terms' | translate}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum</p>
      </div>
    </div>
  </div>
</div>
<!-- modal safari -->
<div class="modal fade" id="safariModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style="color: #000;margin: 0;padding: 0">Ooops!</h3>
      </div>
      <div class="modal-body">
        <p>{{'Sorry, but we dont support video chat in this browser. You can go back to the text chat by clicking' | translate}} <a href="" ng-click="goChat()">{{'here' | translate}}</a></p>
      </div>
    </div>
  </div>
</div>
<!-- modal camera -->
<div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style="color: #000;margin: 0;padding: 0">Ooops!</h3>
      </div>
      <div class="modal-body">
        <p>{{'Sorry, looks like you dont have a camera or you are using a unsupported browser' | translate}}</p>
      </div>
    </div>
  </div>
</div>

<!-- modal camera -->
<div class="modal fade" id="cameraModalPer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="color: #000;margin: 0;padding: 0">Ooops!</h3>
            </div>
            <div class="modal-body">
                <p>{{'Sorry, we dont have permissions to control your camera'  | translate}}</p>
            </div>
        </div>
    </div>
</div>

<!-- modal camera 2 -->
<div class="modal fade" id="camera2Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style="color: #000;margin: 0;padding: 0">Ooops!</h3>
      </div>
      <div class="modal-body">
        <p>{{'Sorry, but we dont support video chat in this browser. You can go back to the text chat by clicking' | translate}} <a href="" ng-click="goChat()">{{'here' | translate}}</a></p>
      </div>
    </div>
  </div>
</div>
<script src="scripts/9f785e2f.chat.js"></script>