<!doctype html >
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


    <!--[if lt IE 9]>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <![endif]-->

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="styles/b20f5034.vendor.css"/>
  <link rel="stylesheet" href="styles/929b1056.main.css"/>

  <!-- Fonts -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>
<body ng-app="talkusApp" id="page-top" data-spy="scroll" data-target=".navbar-custom">
<div class="mainnavbar">
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" ng-controller="MenuController">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="">
          <img src="images/mitbip.png" alt="logo" title="mitbip">
        </a>
        <div ng-show="LoginValidations.showLogin">
          <a class="navbar-status" href="" data-toggle="modal" data-target="#modMain">
            <i class="fa fa-play-circle"></i>  <span class="light">{{LoginMenu.title | translate}}</span>
          </a>
        </div>
        <div ng-hide="LoginValidations.showLogin">
          <a class="navbar-status" href="" ng-click="logout()">
            <i class="fa fa-play-circle"></i>  <span class="light">{{LoginMenu.title | translate}}</span>
          </a>
        </div>
        <a id="menu-toggle-anonym" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>

      </div>
    </div>
    <!-- /.container -->
  </nav>
  <!--<div class="navtriangle"></div>-->
</div>
<!-- Add your site or application content here -->
<div ng-view="ng-view" class="view"></div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<script src="scripts/072221fe.vendor.js"></script>

<script src="scripts/3f6db4ea.public.js"></script>

<script src="scripts/d0e22074.scripts.js"></script>

<!-- External scripts -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPDKJmyaz07K3RpG1LAMXnKbUYJ4creTA&libraries=places&sensor=false"></script>
<script src="/socket.io/socket.io.js"></script>
<!-- End External scripts -->
</body>
</html>